<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">

    <style>
        
       /* body {
            background-color: greenyellow;
            font-family: Arial, sans-serif; 
        }*/
       
        body {
    background: #222D32;
    font-family: 'Roboto', sans-serif;
    }

        .container {
            margin-top: 50px;
            width: 400px;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); 
        }

        .mb-3 {
            margin-bottom: 20px;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ced4da;
            border-radius: 5px; 
        }
        button {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #007bff; 
            color: #fff; 
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3; 
        }

        a {
            display: block;
            margin-top: 20px;
            text-align: center;
            color: #0c2a4a; 
            text-decoration: none; 
        }

        a:hover {
            color: #9207cd; 
        }
  
        </style>
  <body>

    <div class="container">
        <form action="/register" method="post">

            <div class="mb-3">
                Name:
                <input type="text" id="name" name="name" class="form-control">
            </div>

            <div class="mb-3">
                E-Mail:
                <input type="email" id="email" name="email" class="form-control">
            </div>

            <div class="mb-3">
                Password:
                <input type="password" id="pass" name="pass" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
			<a href="/login">Login</a>
        </form>
    </div>

    

</body>

</html>